@import 'progress-bar'

html, body
	margin 0
	padding 0
	width 200px

.hide
	display none
	
#error
	background-color #f31a40
	padding 10px 10px 20px 10px
	text-align center
	> h1.code
		color white
		margin 0
		font-size 60px
		line-height 60px
	> p.description
		color white
		margin 0
		
.buttons
	padding 10px
	text-align center
	
#login-form
	background-color #eee
	padding 10px
	text-align center
	p.status
		color #39c
		font-size 11px
		margin 2px 0
	input
		margin-bottom 5px
	button
		margin-top 5px