doctype
html

	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black')
		title Tagger
		link(rel="shortcut icon", href="/img/icon.png", type="image/png")
		link(rel="stylesheet", href="/bower/fontawesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="/css/popup.css")

	body

		#error.hide
			h1.code 0
			p.description Description

		.buttons
			button#start Start
			button#skip Skip
			button#login-toggle Login?

		.progress.hide
			.progress-bar

		form#login-form
			input#email(type="text", value="gia@coa.vn", placeholder="your@email.com")
			input#password(type="password", value="gia.ninja", placeholder="password")
			p.status.hide
			button#login Submit

		script(type="text/javascript", src="/bower/jquery/dist/jquery.min.js")
		script(type="text/javascript", src="/js/popup.js")