doctype
html

	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black')
		title Tagger
		link(rel="shortcut icon", href="/img/icon.png", type="image/png")
		link(rel="stylesheet", href="/bower/fontawesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="/css/gia.ui.css")
		link(rel="stylesheet", href="/css/popup.css")

	body


		.buttons
			button#tag Tag
			button#skip Skip
			input(type="checkbox")#reveal


		#images
			#error.hide
				h1.code 0
				p.description Description
			.progress.hide
				.progress-bar
			h5 xlarge
			ul#xlarge.images.bg.sm-2.sp-0
			h5 large
			ul#large.images.bg.sm-3.sp-0
			h5 medium
			ul#medium.images.bg.sm-3.sp-0
			h5 small
			ul#small.images.bg.sm-4.sp-0

				

		form#login-form
			input#email(type="text", value="gia@coa.vn", placeholder="your@email.com")
			input#password(type="password", value="gia.ninja", placeholder="password")
			p.status.hide
			button#login Submit



		script(type="text/javascript", src="/bower/jquery/dist/jquery.min.js")
		script(type="text/javascript", src="/bower/underscore/underscore-min.js")
		script(type="text/javascript", src="/js/popup.js")