#pressplusOverlay,
#ppUI,
.pp_overlay_default {
  display: none !important;
}
.clicklion-reveal {
  display: block !important;
  opacity: 1 !important;
  -ms-filter: none !important;
  filter: none !important;
  visibility: visible !important;
  position: initial !important;
  overflow: visible !important;
  height: auto !important;
  width: auto !important;
  max-height: none !important;
  max-width: none !important;
  min-height: none !important;
  max-height: none !important;
  float: none !important;
}
.cl-in-aim {
  border: 2px solid #e040fb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clicklion-checked {
  border: 5px dotted #7ed321;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clicklion-toolbar {
  z-index: 100000000;
  position: block;
  position: fixed;
  cursor: pointer;
  top: 20px;
  right: 20px;
}
.clicklion-toolbar > span.clicklion-button {
  font-family: sans-serif;
  padding: 3px 10px;
  background-color: #4a90e2;
  color: #fff;
  font-size: 12px;
  border: none;
}
.clicklion-toolbar > span.clicklion-button.clicklion-active {
  background-color: #f31a40;
}
.clicklion-toolbar > span.clicklion-button.clicklion-skip {
  background-color: #f5a623;
}
.clicklion-toolbar > span.clicklion-button.clicklion-disable {
  display: none;
}
